Exercise 1: Make an empty list and call it names

In [ ]:
names = []

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [ ]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]

Exercise 3: Make names sored in reverse. Print out the list using a for-loop

In [48]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]
names.sort(reverse = True)
for name in names:
    print(name)

Victor
Sarah
Sam
James
Hannah

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [50]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]
names.sort()
while True :
    print(names)
    break

['Hannah', 'James', 'Sam', 'Sarah', 'Victor']

Exercise 5: Pull out the fourth item from names and print it out

In [57]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]


names.remove("James")
print(names)

['Hannah', 'Victor', 'Sam', 'Sarah']

Exercise 6: Pull out the first item from names and print it out

In [58]:
names = ["Hannah", "Victor", "Sam", "James", "Sarah"]

names.remove("Hannah")
print(names)

['Victor', 'Sam', 'James', 'Sarah']

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [61]:
fruits = "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit"
fruits_list = fruits.split(',')
print(fruits_list)

['Apples', ' Oranges', ' Bananas', ' Pineapples', ' Persimmons', ' Dragonfruit']

Exercise 8: Write a program to generate a right-triangle using asterisks(*) where the base of the triangle has 10 asterisks

In [62]:
count = 1
while count <= 10:
    print("*"*count)
    count += 1

*
**
***
****
*****
******
*******
********
*********
**********

Exercise 9: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [63]:
count = 1
while count <= 10:
    print(count*count)
    count += 1

1
4
9
16
25
36
49
64
81
100

Exercise 10: Create a multiplication table from 1 to 10

In [64]:
for x in range(1, 11):
    for i in range(1, 11):
        result = x*i
        if result < 10:
            empty = "  "
        elif result < 100:
            empty = " "
        print(empty, result, end = '')
    print()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90  100

Exercise 11: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [70]:
ans = int(input("How many scores do you want to calculate?\t"))
total = 0
for i in range(ans):
    result = int(input("enter score\t"))
    total += result

print(f"average =\t{total/ans}")

How many scores do you want to calculate?	5
enter score	20
enter score	20
enter score	10
enter score	20
enter score	30
average =	20.0

In [72]:
# or using while loop we can calculate as follows
ans = 'y'
count = 0
total = 0
print("enter 'y' to continue or 'n' to stop")
while ans != "n":
    score = int(input("enter score\t"))
    total += score
    count += 1
    ans = input("continue?\t")
print(f"The average is {total/count} ")

enter 'y' to continue or 'n' to stop
enter score	50
continue?	y
enter score	60
continue?	y
enter score	60
continue?	y
enter score	50
continue?	y
enter score	80
continue?	n
The average is 60.0

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [75]:
movies = ["Toy Story", "Lion King", "Frozen"]
response = input("what do you want to do? 'list', 'add', 'dell', 'exit'\t")
while response != "exit":
    if response == "list":
        for i in movies:
            print(i)
    elif response == "add":
        name = input("what is the movie you want to add?\t")
        movies.append(name)
        print(f"\"{name}\" was added")
    elif response == "dell":
        number = int(input("which movie do you want to delet?\t"))
        index = movies.pop(number)
        print(f"\"{index}\" was deleted")
    else:
        print("please enter the right choice")
    response = input("what do you want to do? 'list', 'add', 'dell', 'exit'\t")
print("goodbye")

what do you want to do? 'list', 'add', 'dell', 'exit'	list
Toy Story
Lion King
Frozen
what do you want to do? 'list', 'add', 'dell', 'exit'	add
what is the movie you want to add?	Titanic
"Titanic" was added
what do you want to do? 'list', 'add', 'dell', 'exit'	list
Toy Story
Lion King
Frozen
Titanic
what do you want to do? 'list', 'add', 'dell', 'exit'	add
what is the movie you want to add?	Snow White
"Snow White" was added
what do you want to do? 'list', 'add', 'dell', 'exit'	list
Toy Story
Lion King
Frozen
Titanic
Snow White
what do you want to do? 'list', 'add', 'dell', 'exit'	dell
which movie do you want to delet?	2
"Frozen" was deleted
what do you want to do? 'list', 'add', 'dell', 'exit'	list
Toy Story
Lion King
Titanic
Snow White
what do you want to do? 'list', 'add', 'dell', 'exit'	exit
goodbye